.todo {
  text-align: center;
  max-width: 500px;
}
.input{
  max-width: 500px;
}
.addBox {
  width: 500px;
  display: flex;
  margin-bottom: 40px;
}

.title {
  text-transform: uppercase;
  margin-bottom: 20px;
}

.btnCus {
  margin-left: 10px;
}

.btnBox {
  display: flex;
  align-items: center;
}

.listTodo {
  padding: 10px;
  height: 400px;
  overflow-y: auto;

}

@media screen and (max-width: 768px) {
  .addBox {
    width: 80vw;
  }
}
@media screen and (max-width: 578px) {
  .todo {
    width: 90vw;
  }
  .addBox {
    flex-direction: column;
    width: 90vw;
  }
  .btnBox {
    margin-top: 6px;
  }
  .btnCus {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0;
  }
  .btnCusCancel {
    margin-left: 10px;
  }
}
